{% load static %}
<!DOCTYPE html>
<html lang="fi">
    <head>
        {% comment %} Lataa Bootstrap {% endcomment %}
        <link rel="stylesheet" href="{% static 'varasto/bootstrap/css/bootstrap.min.css' %}">
        {% comment %} Lataa oma CSS {% endcomment %}
        <link rel="stylesheet" href="{% static 'varasto/css/styles.css' %}">
        {% comment %} Lataa favicon {% endcomment %}
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
        <meta charset="UTF-8">
        <title>RASEKO Varastonhallinta</title>
    </head>
    <body>
        <header>
            {% comment %} Raseko logo headerissa, linkittää takaisin /index.html:ään {% endcomment %}
            <div class="logo">
                <a href="{% url "varasto:index" %}">
                    <img id="raseko-logo" src="{% static 'varasto/img/raseko_vaaka.png' %}" alt="RASEKO logo">
                </a>
            </div>
            {% comment %} Raseko-sininen yläpalkki {% endcomment %}
            <hr class="top-bar">
            <h5 id="kirjautunut">
            {% if user.is_authenticated %}
                <a href="{% url "kayttajat:profiili" user.opiskelijanumero %}">
                    {{ user.get_kokonimi }} ({{ user.opiskelijanumero }})
                </a> 
                <br/>
                <a href="{% url "kayttajat:logout" %}">
                    Kirjaudu ulos</a>
                </a>
            {% else %}
                <a href="{% url "kayttajat:login" %}">
                    Kirjaudu sisään
                </a>
                <br/>
                <a href="{% url "kayttajat:rekisteroidy" %}">
                    Rekisteröidy
                </a>
            {% endif %}
            </h5>
        </header>
        <main>
            <div class="title">
                <h1>{% block h1title %}{% endblock %}</h1>
                <h5>{% block h5title %}{% endblock %}</h5>
            </div>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div class="lefttext">
                <span>RASEKO</span> Varastonhallintakäyttöliittymä - R3
            </div>
        </footer>
        <script src="{% static 'varasto/bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>