/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Kanit:wght@800;900&family=Nunito+Sans:wght@300;400;600&display=swap');

/* * {
    border: 1px solid red;
} */

/* base.html */
header .logo {
    margin: 30px auto 10px auto;
    width: 85.5%;
}
header .logo img {
    height: 55px;
    width: 246px;
}

header .top-bar {
    height: 44px;
    color: #1b3259;
    opacity: 1;
    margin-top: 1px;
}

/* -------- */
main .title {
    margin: 30px auto;
}

/* index.html - bootstrap buttons */
.btn-lg {
    width: 500px;
    text-align: left;
    height: 74px;
    border-style: none;
    font-family: Kanit, sans-serif;
    font-size: 22px;
    font-weight: 800;
}

.btn-lg .buttontext {
    margin-top: 10px;
}

.button-red, .button-red:hover, .button-red:focus, .button-red:active, .button-red.active {
    background: #df2070;
}
.button-blue, .button-blue:hover, .button-blue:focus, .button-blue:active, .button-blue.active {
    background: #1b3259;
}

main {
    margin: 0 auto; 
    width: 84%;
}

h1 {
    color:#1b3259; 
    font-family: Kanit, sens-serif;
    font-weight: 800;
}

h5 {
    font-family: Nunito, sans-serif;
    font-weight: 400;
    font-size: 21px;
}

#kirjautunut {
    position: absolute;
    right: 8%;
    top: 2.5%;
    text-align: right;
}

.buttons {
    margin: 60px auto 0px auto;
}

.i-chevron-right, #i-search {
    float:right;
}

/* raportit.html -- start */
.search {
    border-color: #1b3259;
    display: inline-block;
    width: 50%;
}

.search input {
    height: 45px;
    width: 90%;
}

.search .btn-lg {
    width: 45%;
}

.search-attributes {
    background-color: #ededed;
    width: 50%;
    height: 500px;
    position: relative;
    float: right;
    top: 18px;
}

.search-attributes .title {
    margin-top: 22px;
    margin-left: 22px;
}

.search-attributes .parameters {
    margin-left: 22px;
}

#searchtext {
    margin-top: 20px;
    border-color: #1b3259;
}

.form-switch {
    font-size: 22px;
}

.form-switch h6, #first {
    position: relative;
    bottom: 4.5px;
}

.form-switch h6, #second {
    position: relative;
    bottom: 3px;
}

.form-select {
    border: 2px solid #df2070;
    width: 95%;
    height: 52px;
}

#flexSwitchCheck1, #flexSwitchCheck2 {
    background-color: #df2070;
}

/* /uusi_lainaus/ */
.uusilainaus {
    width: 280px;
}

/* * {
    border: 1px solid red;
} */

.uusilainaus p {
    font-family: Nunito, sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.uusilainaus #id_varastonhoitaja, #id_asiakas {
    border: 2px solid #df2070;
}

.uusilainaus #id_asiakas, #id_maara, #id_palautuspaiva {
    margin-bottom: 15px;
}

.uusilainaus #id_varasto, #id_tuote, #id_maara {
    border: 2px solid #1b3259;
}

.uusilainaus #id_aikaleima, #id_palautuspaiva {
    border: 2px solid black;
}

.uusilainaus 
#id_varastonhoitaja, #id_asiakas, 
#id_varasto, #id_tuote, #id_maara, 
#id_aikaleima, #id_palautuspaiva {
    border-radius: 4px;
    height: 40px;
    width: 240px;
}

/* */
.container {
    width: 800px;
    margin-left: -1.4%;
    border: 1px dashed #1b3259; 
}

.container .col{
    border: 1px dashed #1b3259; 
    padding-top: 9px;
    padding-bottom: 9px;
}

/* footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #1b3259;
    color: white;
    font-family: Nunito, sans-serif;
    font-weight: 400;
    font-size: 15px;
}
footer .lefttext {
    margin-top: 4px;
    text-align: left;
    margin-left: 10px;
    opacity: 80%
}
footer span {
    color: #df2070;
}