{% extends "base.html" %}
{% load static %}
{% block h1title %}Rekisteröidy{% endblock %}
{% block h5title %}Varastonhallintaan{% endblock %}
{% block content %}
<div class="perusform1">
    <form action="{% url "kayttajat:rekisteroidy" %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Rekisteröidy</button>&emsp;
        <a href="{% url "kayttajat:login" %}">Kirjaudu sisään</a>
    </form>
</div>
{% endblock content %}
{% comment %} 
 TODO: Aktivointisähköposti rekisteröinnin vahvistamiseksi
{% endcomment %}