{% extends "base.html" %}
{% load static %}
{% block h1title %}
    Tuotteryhmän lisäys
{% endblock %}
{% block h5title %}
    Aika: {{current_datetime|date:"d.m.Y H:i"}}
{% endblock %}
{% block content %}
<form action="{% url "tuotteet:lisaaRyhma" %}" method="POST">
    {% csrf_token %}
    <div class="perusform1">
        <p class="varastonhoitaja">Varastonhoitaja:<br/>
            <a href="{% url "kayttajat:profiili" request.user.opiskelijanumero %}">
                {{request.user.opiskelijanumero}} ({{request.user.get_kokonimi}})
            </a>
        </p>
        {{ form.as_p }}
    </div>
    <input type="submit" value="Lisää"/>&emsp;&emsp;&emsp;&emsp;
    <a href="{% url "varasto:index" %}">
        Palaa etusivulle
    </a>
</form>
{% endblock content %}
{% comment %} 
    TODO: Linkitys tuoteryhmän lisäyssivulle. Tällä hetkellä ei ole linkkiä missään.
    TODO: Tuoteryhmän lisäyksen jälkeen sanoo "ei tuotteita", tätä ei tarvitse näyttää.
{% endcomment %}