{% extends "base.html" %}
{% load static %}
{% block h1title %}
    Tuotteet
{% endblock %}
{% if object_list %}
    {% block h5title %}
    Näytä poistetut: 
    {% if poistetut == "ei" %}
        Ei
    {% elif poistetut == "kylla" %}
        Kyllä
    {% else %}
        Kaikki
    {% endif %}
    <br/>
    {% if ryhma %}
    Ryhmä: {{ ryhma.nimi }}
    {% else %}
    Ryhmä: Kaikki
    {% endif %}
    <br/>
    Tuotteiden määrä: {{ object_list|length }}
    {% endblock %}
{% endif %}
{% block content %}
<a href="{% url "tuotteet:lisaa" %}">
    Lisää tuote</a>
 &emsp;&emsp;&emsp;&emsp;
<a href="{% url "tuotteet:ryhmat" %}">
    Tuoteryhmät</a>
&emsp;&emsp;&emsp;&emsp;
<br/><br/>
<form method="GET">
    <div class="perusform1 tuotelistaForm">
        <div class="formEntry">
            {{ form.poistetut.label }}:
            <span class="formSelections">
                {% for radio in form.poistetut %}
                    &emsp;{{ radio }}
                {% endfor %}<br/>
            </span>
        </div>
        <div class="formEntry">
            {{ form.valittuRyhma.label }}
            <span class="formSelections">
                {{ form.valittuRyhma }}<br/>
            </span>
        </div>
        <div id="formEntryJarjestys">
            {{ form.jarjestys.label }}
            <span class="formSelections">
                {{ form.jarjestys }}
            </span>
        </div>
        <div class="formEntry">
            <span class="formSelections">
                {% for radio in form.tapa %}
                {{ radio }} 
                {% if forloop.counter == 1 %}
                &emsp;
                {% endif %}
                {% endfor %}<br/>
            </span>
        </div>
        <input type="submit" value="OK">
        <br/><br/>
    </div>
</form>
Valittu järjestys: {{ jarjestys }}, {{ tapa }}<br/><br/>
{% comment %} 
    TODO: muutkin formit leveämmäksi
{% endcomment %}
{% comment %} Lataa tuotteet containereihin {% endcomment %}
{% for tuote in object_list %}
{% include "tuotteet/tuote_container.html" %}
<br/>
{% endfor %}
{% endblock content %}