{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
    <div class="title">
        <h1>Tuotteet</h1>
        {% if object_list %}
            <h5>Määrä: {{ object_list|length }}</h5>
        {% endif %}
    </div>

    <a href="/varasto/tuotteet/lisaa/">Lisää tuote</a>&emsp;&emsp;&emsp;&emsp;
    <br/><br/>

    {% comment %} 
        # TODO: tuotteiden järjestäminen parametrien mukaan
    {% endcomment %}

    {% comment %} Lataa tuotteet containereihin {% endcomment %}
    {% for tuote in object_list %}
    {% include "tuotteet/tuote_container.html" %}
    <br/>
    {% endfor %}
    <br/>
</main>
{% endblock content %}