{% extends "base.html" %}
{% load static %}
{% block h1title %}
    {% if not juuriLisatty %}
    Tuoteryhmä
    {% else %}
    Tuoteryhmä lisätty!
    {% endif %}
{% endblock %}
{% block h5title %}
    id: {{ tuoteryhma.id }}
{% endblock %}
{% block content %}
<a href="{% url "tuotteet:ryhmat" %}">Tuoteryhmät</a>&emsp;&emsp;&emsp;&emsp;
<a href="{% url "tuotteet:lisaa" %}">Lisää tuote</a>&emsp;&emsp;&emsp;&emsp;
<a href="{% url "tuotteet:lista" %}">Kaikki tuotteet</a>&emsp;&emsp;&emsp;&emsp;
<br/><br/>
{% comment %} Lataa tuoteryhmän tiedot containeriin {% endcomment %}
<div class="container" id="tuoteryhma_container">
    <div class="row">
        <div class="col">
            {{ tuoteryhma.nimi }}
        </div>
        <div class="col">
            {% if tuoteryhma.tuotemaara > 0 %}
                Tuotteiden määrä: {{ tuoteryhma.tuotemaara }}
            {% else %}
                Ei tuotteita
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Lisääjä: 
            <a href="{% url "kayttajat:profiili" tuoteryhma.lisaaja.opiskelijanumero %}">
                {{ tuoteryhma.lisaaja }}
            </a>
        </div>
        <div class="col">
            Lisäysaika: {{ tuoteryhma.lisaysaika }}
        </div>
    </div>
</div>
<br/>
{% if tuoteryhma.tuotemaara > 0 %}
    <h5 id="tuoteryhmaotsikko">Tuoteryhmän tuotteet:</h5>
    {% for tuote in tuotteet %}
        {% include "tuotteet/tuote_container.html" %}
        <br/>
    {% endfor %}
{% endif %}
{% endblock content %}