{% extends "base.html" %}
{% load static %}
{% block h1title %}
    Tuoteryhmät
{% endblock %}
{% if object_list %}
    {% block h5title %}
    Näytä poistetut ryhmät: 
    {% if poistetut == "ei" %}
        Ei
    {% elif poistetut == "kylla" %}
        Kyllä
    {% else %}
        Kaikki
    {% endif %}
    <br/>
    Tuoteryhmien määrä: {{ object_list|length }}
    {% endblock %}
{% endif %}
{% block content %}

<form method="GET">
    <div class="perusform1 tuotelistaForm">
        <div class ="formEntry">
            {{ form.poistetut.label }}:
            <span class="formSelections">
                {% for radio in form.poistetut %}
                    &emsp;{{ radio }}
                {% endfor %}<br/>
            </span>
        </div>
        <div class="formEntry">
            {{ form.jarjestys.label }}
            <span class="formSelections">
                {{ form.jarjestys }}
            </span>
        </div>
        <div class="formEntry">
            <span class="formSelections">
                {% for radio in form.tapa %}
                    {{ radio }}
                    {% if forloop.counter == 1 %}
                        &emsp;
                    {% endif %}
                {% endfor %}
            </span>
        </div>
        <input type="submit" value="OK">
        <br/><br/>
    </div>
</form>

Valittu järjestys: {{ jarjestys }}, {{ tapa }}
<br/><br/>

<a href="{% url "tuotteet:lisaaRyhma" %}">
    Lisää tuoteryhmä
</a>
<br/><br/>
{% for tuoteryhma in object_list %}
{% include "tuotteet/tuoteryhma_container.html" with poistaRyhmaNappi=True linkilla=True juuriLisatty=False %}
<br/>
{% endfor %}
{% endblock content %}