{% extends "base.html" %}
{% load static %}
{% block h1title %}
    {% if not juuriLisatty %}
    Tuoteryhmä
    {% else %}
    Tuoteryhmä lisätty!
    {% endif %}
{% endblock %}
{% block h5title %}
    id: {{ tuoteryhma.id }}
{% endblock %}
{% block content %}
<a href="{% url "tuotteet:ryhmat" %}">Tuoteryhmät</a>&emsp;&emsp;&emsp;&emsp;
<a href="{% url "tuotteet:lisaa" %}">Lisää tuote</a>&emsp;&emsp;&emsp;&emsp;
<a href="{% url "tuotteet:lista" %}">Kaikki tuotteet</a>&emsp;&emsp;&emsp;&emsp;
<br/><br/>
{% comment %} Lataa tuoteryhmän tiedot containeriin {% endcomment %}
{% include "tuotteet/tuoteryhma_container.html" with poistaRyhmaNappi=True linkilla=False %}
<br/>
{% if tuoteryhma.tuotemaara > 0 %}
    <h5 id="tuoteryhmaotsikko">Tuoteryhmän tuotteet:</h5>
    {% for tuote in tuotteet %}
        {% include "tuotteet/tuote_container.html" %}
        <br/>
    {% endfor %}
{% endif %}
{% endblock content %}