{% extends "base.html" %}
{% load static %}
{% block h1title %}
    {% if not ryhma %}
    Tuote poistettu!
    {% else %}
    Tuoteryhmä poistettu!
    {% endif %}
{% endblock %}
{% block h5title %}
    <br/>
    <a href="{% url "varasto:index" %}">
        Palaa varastohallinnan etusivulle
    </a>
    <br/><br/>
    <a href="{% url "tuotteet:lista" %}">
        Tuotteet</a>
    &emsp;&emsp;&emsp;&emsp;
    <a href="{% url "tuotteet:ryhmat" %}">
        Tuoteryhmät
    </a>
{% endblock %}
{% block content %}
{% endblock content %}