{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
    <div class="title">
        {% if not juuriLisatty %}
            <h1>Tuote</h1>
        {% else %}
            <h1>Tuote lisätty!</h1>
        {% endif %}
        <h5>id: {{ tuote.id }}</h5>
    </div>
    <br/>
    {% comment %} Lataa tuotteen tiedot containeriin {% endcomment %}
    <div class="container" id="tuote_container">
        <div class="row">
            <div class="col">
                    Viivakoodi: {{ tuote.viivakoodi_string }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/varasto/tuotteet/ryhma/{{tuote.tuoteryhma.id}}">{{ tuote.tuoteryhma.nimi }}</a>/{{ tuote.nimike }} 
            </div>
            <div class="col">
                {{ tuote.maara }}kpl
            </div>
        </div>
        <div class="row">
            <div class="col">
                Hankintapaikka: {{ tuote.hankintapaikka }}
            </div>
            <div class="col">
                Kustannuspaikka: {{ tuote.kustannuspaikka }}
            </div>
        </div>
    </div>
    <br/>
</main>
{% endblock content %}