<div class="container" id="tuoteryhma_container">
    <div class="row">
        <div class="col">
            {% if linkilla %}
            id({{ tuoteryhma.id }}) / 
                <a href="{% url "tuotteet:ryhma" tuoteryhma.id %}">
                    {{ tuoteryhma.nimi }}</a>
            {% else %}
                {{ tuoteryhma.nimi }}
            {% endif %}
        </div>
        {% if not juuriLisatty %}
            <div class="col">
                {% if tuoteryhma.tuotemaara > 0 %}
                    Tuotteiden määrä: {{ tuoteryhma.tuotemaara }}
                {% else %}
                    Ei tuotteita
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            Lisääjä: 
            <a href="{% url "kayttajat:profiili" tuoteryhma.lisaaja.opiskelijanumero %}">
                {{ tuoteryhma.lisaaja }}
            </a>
        </div>
        <div class="col">
            Lisäysaika: {{ tuoteryhma.lisaysaika }}
        </div>
    </div>
    {% if poistaRyhmaNappi %}
        {% if not tuoteryhma.poistettu %}
            <div class="row">
                <div class="col">
                    <a href="{% url "tuotteet:poistaRyhma" tuoteryhma.id %}">
                        Poista ryhmä
                    </a>
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% if tuoteryhma.poistettu %}
        <div class="row">
            <div class="col">
                <b>Tämä tuoteryhmä on poistettu!</b>
                <svg id="i-trash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="18" height="18" fill="red" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6" />
                </svg>  
            </div>
        </div>
        <div class="row">
            <div class="col">
                Poistettu: {{ tuoteryhma.poistoaika }}
            </div>
            <div class="col">
                Poistaja: 
                <a href="{% url "kayttajat:profiili" tuoteryhma.poistaja.opiskelijanumero %}">
                    {{ tuoteryhma.poistaja }}
                </a>
            </div>
        </div>
    {% endif %}
</div>