<div class="container" id="tuotteet_container">
    <div class="row">
        <div class="col">
                Viivakoodi: 
                <a href="{% url "tuotteet:tuote" tuote.id %}">
                    {{ tuote.viivakoodi_string }}
                </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if naytanimi %}
                <a href="{% url "tuotteet:ryhma" tuote.tuoteryhma.id %}">
                    {{ tuote.tuoteryhma.nimi }}</a>
                /
            {% endif %}
            {{ tuote.nimike }} 
        </div>
        <div class="col">
            {{ tuote.maara }}kpl
        </div>
    </div>
    <div class="row">
        <div class="col">
            Hankintapaikka: {{ tuote.hankintapaikka }}
        </div>
        <div class="col">
            Kustannuspaikka: {{ tuote.kustannuspaikka }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url "tuotteet:poistaTuote" tuote.id %}">
                Poista tuote
            </a>
        </div>
    </div>
</div>