{% load static %}
<!DOCTYPE html>
<html lang="fi">
    <head>
        {% comment %} Lataa Bootstrap {% endcomment %}
        <link rel="stylesheet" href="{% static 'varasto/bootstrap/css/bootstrap.min.css' %}">
        {% comment %} Lataa oma CSS {% endcomment %}
        <link rel="stylesheet" href="{% static 'varasto/css/styles.css' %}">
        <meta charset="UTF-8">
        <title>RASEKO Varastonhallinta</title>
    </head>
    <body>
        <header>
            {% comment %} Raseko logo headerissa, linkittää takaisin /index.html:ään {% endcomment %}
            <div class="logo">
                <a href="/">
                    <img id="raseko-logo" src="{% static 'varasto/img/raseko_vaaka.png' %}" alt="RASEKO logo">
                </a>
            </div>
            {% comment %} Raseko-sininen yläpalkki {% endcomment %}
            <hr class="top-bar">

            {% if user.is_authenticated %}
                <h5 id="kirjautunut"><a href="/varasto/profiili/{{ user.username }}">{{ user.username }}</a> 
                <br/><a href="/varasto/tili/logout">Kirjaudu ulos</a></h5>
            {% else %}
                <h5 id="kirjautunut">
                <br/><a href="/varasto/tili/login">Kirjaudu sisään</a></h5>
            {% endif %}

                
        </header>
        <script src="{% static 'varasto/bootstrap/js/bootstrap.min.js' %}"></script>

        {% block content %}
        {% endblock %}
        <footer>
            <div class="lefttext">
                <span>RASEKO</span> Varastonhallintakäyttöliittymä - R3
            </div>
        </footer>
    </body>
</html>