{% extends "base.html" %}
{% load static %}
{% comment %} Etusivu {% endcomment %}
{% block h1title %}Rasekon varastonhallinta ja lainausjärjestelmä{% endblock %}
{% block h5title %}
    {% if user.is_authenticated %}
        Hyvää päivää {{ request.user.etunimi }}! Valitse toiminto alta
    {% else %}
        Valitse toiminto alta
    {% endif %}
{% endblock %}
{% block content %}
{% comment %} Painikkeet muille sivuille navigointiin {% endcomment %}
<div class="buttons">
    <a href="{% url "varasto:uusiLainaus" %}" class="btn btn-primary btn-lg button-red" role="button">
        <div class="buttontext">
            Uusi lainaus
            {% comment %} svg - nuolet painikkeiden oikeassa reunassa {% endcomment %}
            <svg class="i-chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="50" height="35" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.5">
                <path d="M12 30 L24 16 12 2" />
            </svg>
        </div>
    </a>
    <br><br>
    <a href="{% url "varasto:lainauksenPalautus" %}" class="btn btn-primary btn-lg button-red" role="button">
        <div class="buttontext">
            Lainauksen palautus
            <svg class="i-chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="50" height="35" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.5">
                <path d="M12 30 L24 16 12 2" />
            </svg>
        </div>
    </a>
    <br><br>
    <a href="{% url "tuotteet:lista" %}" class="btn btn-primary btn-lg button-blue" role="button">
        <div class="buttontext">
            Tuotteet
            <svg class="i-chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="50" height="35" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.5">
                <path d="M12 30 L24 16 12 2" />
            </svg>
        </div>
    </a>
    <br><br>
    <a href="{% url "varasto:lainaukset" %}" class="btn btn-primary btn-lg button-blue" role="button">
        <div class="buttontext">
            Lainaukset
            <svg class="i-chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="50" height="35" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="4.5">
                <path d="M12 30 L24 16 12 2" />
            </svg>
        </div>
    </a>
</div>
<br/>Linkkejä:
<br/>Käyttäjälista: <a href="{% url "kayttajat:kayttajalista" %}">/kayttajat/lista</a>
{% endblock content %}