<div class="container">
    {% comment %} Lataa lainausten tiedot containeriin lainaus.html/lisatty_lainaus.html:ssä {% endcomment %}
    <div class="row">
        <div class="col">
            Arkistotunnus
        </div>
        <div class="col">
            {{ laina.arkistotunnus }}
        </div>
    </div>
    <br>

{% comment %}     
    <div class="row">
        <div class="col">
            Varasto
        </div>
        <div class="col">
            id {{ laina.varasto.id }} / {{ laina.varasto.nimi }}
        </div>
    </div> 
{% endcomment %}

    <div class="row">
        <div class="col">
            Tuote
        </div>
        <div class="col">
            id({{ laina.tuote.id }}) {{ laina.tuote.tuoteryhma.nimi }}/{{ laina.tuote.nimike }}/{{ laina.maara }}kpl
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            Aikaleima
        </div>
        <div class="col">
            {{ laina.aikaleima|date:"d.m.Y H:i" }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Viim. palautuspäivä
        </div>
        <div class="col">
            {{ laina.palautuspaiva|date:"d.m.Y" }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            Lainaaja
        </div>
        <div class="col">
            <a href="/varasto/profiili/{{ laina.asiakas.opiskelijanumero }}">
                {{ laina.asiakas.get_kokonimi }} ({{ laina.asiakas.opiskelijanumero }})
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Varastonhoitaja
        </div>
        <div class="col">
            <a href="/varasto/profiili/{{ laina.varastonhoitaja.opiskelijanumero }}">
                {{ laina.varastonhoitaja.get_kokonimi }} ({{ laina.varastonhoitaja.opiskelijanumero }})
            </a>
        </div>
    </div>
</div>