<div class="container">
    {% comment %} Lataa lainausten tiedot containeriin lainaus.html/lisatty_lainaus.html:ssä {% endcomment %}
    <div class="row">
        <div class="col">
            Arkistotunnus
        </div>
        <div class="col">
            {{ laina.arkistotunnus }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            Varasto
        </div>
        <div class="col">
            id {{ laina.varasto.id }} / {{ laina.varasto.nimi }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Tuote
        </div>
        <div class="col">
            id {{ laina.tuote.id }} / {{ laina.tuote.nimike }} / Määrä: {{ laina.maara }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            Aikaleima
        </div>
        <div class="col">
            {{ laina.aikaleima }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Viim. palautuspäivä
        </div>
        <div class="col">
            {{ laina.palautuspaiva }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            Lainaaja
        </div>
        <div class="col">
            <a href="/varasto/profiili/{{ laina.asiakas }}">
                {{ laina.asiakas }} ({{ laina.asiakas.get_full_name }})
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Varastonhoitaja
        </div>
        <div class="col">
            <a href="/varasto/profiili/{{ laina.varastonhoitaja }}">
                {{ laina.varastonhoitaja }} ({{ laina.varastonhoitaja.get_full_name }})
            </a>
        </div>
    </div>
</div>