{% extends "varasto/base.html" %}
{% load static %}
{% block content %}
<main>
<div class="title">
    <h1>Lainaus</h1>
    <h5>id: {{ laina.id }}</h5>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            Arkistotunnus
        </div>
        <div class="col">
            {{ laina.arkistotunnus }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            Varasto
        </div>
        <div class="col">
            id {{ laina.varasto.id }} / {{ laina.varasto.nimi }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Tuote
        </div>
        <div class="col">
            id {{ laina.tuote.id }} / {{ laina.tuote.nimike }} / Määrä: {{ laina.maara }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            Aikaleima
        </div>
        <div class="col">
            {{ laina.aikaleima }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Viim. palautuspäivä
        </div>
        <div class="col">
            {{ laina.palautuspaiva }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            Lainaaja
        </div>
        <div class="col">
            {{ laina.asiakas }} ({{ laina.asiakas.first_name }} {{ laina.asiakas.last_name }})
        </div>
    </div>
    <div class="row">
        <div class="col">
            Varastonhoitaja
        </div>
        <div class="col">
            {{ laina.varastonhoitaja }} ({{ laina.varastonhoitaja.first_name }} {{ laina.varastonhoitaja.last_name }})
        </div>
    </div>
</div>
</main>
{% endblock %}

{% comment %} 
<h1>{{ laina.tyokalu.nimi }}(id:{{ laina.tyokalu.id }})</h1>
Lainattu:
<div>{{ lainaus.lainausaika }}</div>
Lainaaja:
<div>
    [{{ lainaus.opiskelijanro.opiskelijanro }}] 
    {{ lainaus.opiskelijanro.etunimi }} 
    {{ lainaus.opiskelijanro.sukunimi }}
</div>
<br/>
<div><button type="button">Poista wip</button></div> 
{% endcomment %}

{% comment %} 
<form action="{% url 'poista' lainaus.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ laina.tyokalu.nimi }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <input type="button" name="poista" id="lainaus.id" value="lainaus.id">
    </fieldset>
    <input type="submit" value="poista">
</form> 
{% endcomment %}
