{% extends "varasto/base.html" %}
{% load static %}
{% block content %}
<main>
    <div class="title">
        <h1>Avoimet lainaukset</h1>
        {% if object_list %}
            <h5>Määrä: {{ object_list|length }}</h5>
        {% endif %}
    </div>
    <br/>
    {% comment %} Lataa lainaukset containereihin {% endcomment %}
    {% for instance in object_list %}
    <div class="container" id="lainaukset_container">
        {% comment %} Lataa lainausten tiedot containeriin lainaus.html/lisatty_lainaus.html:ssä {% endcomment %}
        <div class="row">
            <div class="col">
                <a href="/varasto/lainaus/{{ instance.id }}">
                    id({{ instance.id }}) / ark.tunnus: {{ instance.arkistotunnus }}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% comment %} 
                #TODO: Linkitys tuoteryhmä/tuotesivuille 
                {% endcomment %}
                {{ instance.tuote.tuoteryhma.nimi }}/{{ instance.tuote.nimike }} 
            </div>
            <div class="col">
                {{ instance.maara }}kpl
            </div>
        </div>
        <div class="row">
            <div class="col">
                Aika: {{ instance.aikaleima|date:"d.m.Y H:i" }}
            </div>
            <div class="col">
                Palautus: {{ instance.palautuspaiva|date:"d.m.Y" }}
            </div>
        </div>
        <div class="row">
            {% comment %} TODO: Linkitys profiilisivuille {% endcomment %}
            <div class="col">
                Lainaaja: <a href="/varasto/profiili/{{ instance.asiakas }}">{{ instance.asiakas }}</a>
            </div>
            <div class="col">
                Varastonhoitaja: <a href="/varasto/profiili/{{ instance.varastonhoitaja }}">{{ instance.varastonhoitaja }}</a>
            </div>
        </div>
    </div>
    <br/>
    {% endfor %}
    <br/>
</main>
{% endblock content %}