moi

{% comment %} 
<h1>{{ laina.tyokalu.nimi }}(id:{{ laina.tyokalu.id }})</h1>
Lainattu:
<div>{{ lainaus.lainausaika }}</div>
Lainaaja:
<div>
    [{{ lainaus.opiskelijanro.opiskelijanro }}] 
    {{ lainaus.opiskelijanro.etunimi }} 
    {{ lainaus.opiskelijanro.sukunimi }}
</div>
<br/>
<div><button type="button">Poista wip</button></div> 
{% endcomment %}

{% comment %} 
<form action="{% url 'poista' lainaus.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ laina.tyokalu.nimi }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <input type="button" name="poista" id="lainaus.id" value="lainaus.id">
    </fieldset>
    <input type="submit" value="poista">
</form> 
{% endcomment %}
