{% extends "base.html" %}
{% load static %}
{% block h1title %}Lainaukset{% endblock %}
{% if object_list %}
    {% block h5title %}
        {% if avoimet_vai_suljetut == "avoimet" %}
            Avoimet, määrä: 
        {% elif avoimet_vai_suljetut == "suljetut" %}
            Suljetut, määrä:
        {% else %}
            Kaikki, määrä:
        {% endif %}
        {{ object_list|length }}
    {% endblock %}
{% endif %}
{% block content %}
<form method="GET">
    <div class="perusform1 lainauksetForm">
        <div class="formEntry">
            {% for radio in form.avoimet_vai_suljetut %}
                {{ radio }}&emsp;
            {% endfor %}
        </div>
        <div class="formEntry">
            {{ form.jarjestys.label }}<br/>
            {{ form.jarjestys }}
        </div>
        <div class="formEntry">
            {% for radio in form.tapa %}
                {{ radio }}&ensp; 
            {% endfor %}
        </div>
        <input type="submit" value="OK">
        <br/><br/>
    </div>
</form>
Valittu järjestys: {{ jarjestys }}, {{ tapa }} <br/><br/>
{% comment %} Lataa lainaukset containereihin {% endcomment %}
{% for instance in object_list %}
<div class="container" id="lainaukset_container">
    {% comment %} Lataa lainausten tiedot containeriin lainaus.html:ssä {% endcomment %}
    <div class="row">
        <div class="col">
            <a href="{% url "varasto:lainaus" instance.id %}">
                id({{ instance.id }}) / ark.tunnus: {{ instance.arkistotunnus }}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url "tuotteet:ryhma" instance.tuote.tuoteryhma.id %}">
                {{ instance.tuote.tuoteryhma.nimi }}</a>
                / 
            <a href="{% url "tuotteet:tuote" instance.tuote.id %}">
                {{ instance.tuote.nimike }}</a>
        </div>
        <div class="col">
            {{ instance.maara }}kpl
        </div>
    </div>
    <div class="row">
        <div class="col">
            Aika: {{ instance.aikaleima|date:"d.m.Y H:i" }}
        </div>
        <div class="col">
            Viim. palautuspäivä: {{ instance.viim_palautuspaiva|date:"d.m.Y" }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Lainaaja: <a href="{% url "kayttajat:profiili" instance.asiakas.opiskelijanumero %}">
                {{ instance.asiakas.get_kokonimi }} ({{ instance.asiakas.opiskelijanumero }})
            </a>
        </div>
        <div class="col">
            Varastonhoitaja: <a href="{% url "kayttajat:profiili" instance.varastonhoitaja.opiskelijanumero %}">
                {{ instance.varastonhoitaja.get_kokonimi }} ({{ instance.varastonhoitaja.opiskelijanumero }})
            </a>
        </div>
    </div>
    {% if instance.avoin %}
    <div class="row">
        <div class="col">
            <a href="{% url "varasto:palautaLainaus" instance.id %}">
                Merkitse palautetuksi
            </a>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            Tämä lainaus on palautettu: {{ instance.palautettu }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Varastonhoitaja palauttaessa: {{ instance.varastonhoitaja_palautus }}
        </div>
    </div>
    {% endif %}
    </div>
</div>
<br/>
{% endfor %}
{% endblock content %}