{% extends "varasto/base.html" %}
{% load static %}
{% block content %}
<main>
    <div class="title">
        <h1>Poistetaanko lainaus?</h1>
        <h5>id: {{ laina.id }}</h5>
    </div>
    <br/>
    {% comment %} Lataa lainauksen tiedot containeriin {% endcomment %}
    {% include "varasto/lainaus_container.html" %}
    <br />
    <form method="POST">{% csrf_token %}
        <p><input type="submit" value="Kyllä"/>&emsp;&emsp;&emsp;&emsp;<a href="/varasto/lainaus/{{ laina.id }}">Peruuta</a></p>
    </form>
</main>
{% endblock content %}

{% comment %} 
TODO: poistojen logi?
{% endcomment %}