{% extends "varasto/base.html" %}
{% load static %}
{% block content %}
<main>
    <div class="title">
        <h1>Raportit</h1>
        <h5>
            Kirjoita hakusana alla olevaan kenttään (esim. nimike, kustannuspaikka, merkki, malli, hankinta-
            paikka, lainaajan nimi tai id). Voit jättää hakukentän myös tyhjäksi tai käyttää asteriskia osittaisen
            sanan tekstihakuun (esim. sähkö* tai id436*).
        </h5>
    </div>     
    <div class="search">
        <input type="text" id="searchtext" name="searchtext">
        <br><br>
        <a href="/varasto/lainaukset/">
        <button class="btn btn-primary btn-lg button-red" type="button">
            Haku
            <svg id="i-search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="50" height="35" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5">
                <circle cx="14" cy="14" r="12" />
                <path d="M23 23 L30 30"  />
            </svg>
        </button>
        </a>
    </div>
    <div class="search-attributes">
        <div class="title">
            <h5>Haun lisäasetukset</h5>
        </div>
        <div class="parameters">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck1">
                <label class="form-check-label" for="flexSwitchCheck1"><h6 id="first">Näytä vain myöhässä olevat lainat</h6></label>
            </div>       
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck2">
                <label class="form-check-label" for="flexSwitchCheck2"><h6 id="second">Näytä ei-lainattavissa olevat nimikkeet</h6></label>
            </div>
            <br>
            <select class="form-select" aria-label="Tuotenimike">
                <option selected>Tuotenimike</option>
                <option value="1">Yksi</option>
                <option value="2">Kaksi</option>
                <option value="3">Kolme</option>
            </select>
            <br>
            <select class="form-select" aria-label="Valitse osasto">
                <option selected>Valitse osasto</option>
                <option value="1">Yksi</option>
                <option value="2">Kaksi</option>
                <option value="3">Kolme</option>
            </select>
            <br>
            <select class="form-select" aria-label="Takuutieto">
                <option selected>Takuutieto</option>
                <option value="1">Yksi</option>
                <option value="2">Kaksi</option>
                <option value="3">Kolme</option>
            </select>
        </div>
    </div>
</main>
{% endblock content %}

{% comment %} 
TODO: Raportit sivulle jotain toimivuutta 
{% endcomment %}