{% extends "varasto/base.html" %}
{% load static %}
{% block content %}
<main>
    <div class="title">
        <h1>Uusi lainaus</h1>
        <h5>
            Lainauksen lisääminen tietokantaan.
        </h5>
        <br>
        <form action="/uusi_lainaus/" method="post">
            {% csrf_token %}
            <div class="uusilainaus">
                <p class="aikaleima">Aika: {{current_datetime}}</p>
                <p class="varastonhoitaja">Varastonhoitaja:<br/>{{request.user}} ({{request.user.get_full_name}})</p>
                {{ form.as_p }}
            </div>
            <input type="submit" value="Lisää"/>
        </form>
    </div>
</main>
{% endblock content %}