{% extends "base.html" %}
{% load static %}
{% block h1title %}Uusi lainaus{% endblock %}
{% block h5title %}
    Aika: {{current_datetime|date:"d.m.Y H:i"}}
{% endblock %}
{% block content %}
<form action="/varasto/uusi_lainaus/" method="POST">
    {% csrf_token %}
    <div class="perusform1">
        <p class="varastonhoitaja">Varastonhoitaja:<br/>
        <a href="/varasto/kayttajat/profiili/{{ request.user.opiskelijanumero }}">{{request.user.get_kokonimi}} ({{request.user.opiskelijanumero}})</a></p>
        {{ form.as_p }}
    </div>
    <input type="submit" value="Lisää"/>&emsp;&emsp;&emsp;&emsp;<a href="/">Palaa etusivulle</a>
</form>
{% endblock content %}